<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Agency Theme
        link(href="https://fonts.googleapis.com/css?family=Kaushan+Script", rel="stylesheet", type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700", rel="stylesheet", type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic", rel="stylesheet", type="text/css")
        link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="assets/css/bootstrap.css")
        link(rel="stylesheet", href="assets/css/main.css")


    body
        include ./_variables
        include ./_mixins
        section#navegador    
            nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
                .container
                    .navbar-header.page-scroll
                        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse",aria-expanded="false", aria-controls="navbar")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand.page-scroll(href="#header") Star Bootstrap

                    #navbar-inverse.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li: a(href="#services").page-scroll Services
                            li: a.page-scroll(href="#portfolio" ) Portfolio
                            li: a.page-scroll(href="#about" ) About
                            li: a.page-scroll(href="#team" ) Team
                            li: a.page-scroll(href="#contact" ) Contact
        header#header
            h2.text-white Welcome To Our Studio!
            h1.text-white It's nice to meet you
            a.btn-agency.page-scroll(href="#services") tell me more

        section#services.pb-5
            .container
                +titulo-seccion('services')
                .row
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-shopping-cart.fa-stack-1x
                        p.subtitulo E-Commerce
                        p.texto-contenido= services
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-laptop.fa-stack-1x
                        p.subtitulo Responsive Design
                        p.texto-contenido= services
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-lock.fa-stack-1x
                        p.subtitulo Web Security
                        p.texto-contenido= services
        section#portfolio.pb-5
            .container
                +titulo-seccion('portfolio')

                .row
                    +portfolio('roundicons-preview', 'Round Icons', 'Graphic')
                    +portfolio('startup-framework', 'Startup Framework', 'Website')
                    +portfolio('treehouse-preview', 'Treehouse', 'Website')
                    +portfolio('golden-preview', 'Golden', 'Website')
                    +portfolio('escape-preview', 'Escape', 'Website')
                    +portfolio('dreams-preview', 'Dreams', 'Website')

        section#about.mb-10
            .container
                +titulo-seccion('about')
                .timeline
                    +timeline-caja('1', '2009-2011', 'Our Humble Beginnings')
                    +timeline-caja('2', 'march 2011', 'An Agency is Born')
                    +timeline-caja('3', 'december 2012', 'Transition to Full Service')
                    +timeline-caja('4', 'july 2014', 'Phase Two Expansion')
                    .timeline-caja.row
                        .timeline-img.amarillo
                            p be part of our story!

        section#team.pb-5
            .container
                +titulo-seccion('our awesome team')
                .row
                    +perfil('1', 'Kay Garland', 'Designer')
                    +perfil('2', 'Larry Parker', 'Marketer')
                    +perfil('3', 'Diana Pertersen', 'Developer')
                .row
                    p.texto-team= team
        section#clientes
            .container
                .row.text-center
                    +cliente('envato')
                    +cliente('designmodo')
                    +cliente('themeforest')
                    +cliente('creative-market')

        section#contact.pb-5
            .container
                +titulo-seccion('contact us')
                .row
                    .col-md-6
                        form
                            +form('input', 'NAME')
                            +form('input', 'EMAIL')
                            +form('input', 'PHONE')
                    .col-md-6
                        +form('textarea', 'MESSAGE')
                .row
                    .col-md-12
                        button.btn-agency(type="submit") send message

        footer
            .container
                .row.text-center
                    .col-md-4: p.copy Copyright © Your Website 2014
                    .col-md-4: +redes
                    .col-md-4: p
                        a.links Privacy Policy
                        a.links Terms of use

        
        script(type="text/javascript", src="assets/js/jquery.js")
        script(type="text/javascript", src="assets/js/bootstrap.min.js")
        script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
        script(type="text/javascript", src="assets/js/cbpAnimatedHeader.js")
        script(type="text/javascript", src="assets/js/classie.js")
        script(type="text/javascript", src="assets/js/jqBootstrapValidation.js")
        script(type="text/javascript", src="assets/js/contact_me.js")
        script(type="text/javascript", src="assets/js/agency.js")





                




                

                        

















            
    